body {
    font-size:1.7em;
    padding:50px 100px;
}

details {
    border: 1px solid #aaa;
    border-top:none;
    padding: .5em .5em 0;
}

details:first-child {
    border-top: 1px solid #aaa;
    border-radius: 8px 8px 0px 0px;
}

details:last-child {
    border-radius: 0px 0px 8px 8px;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}


